*{
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  width: 1380px;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  display: flex;
  align-items:center;
  width: 100%;
  z-index: 2;
}
.logo-image{
  margin-left: 8.4375rem;
  margin-right: 8.375rem;
}
.menu-list-item{
  display: flex;
  align-items:center;
  padding: 0;
}
.menu-list-items{
  list-style-type: none;
}
.menu-item-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 1.4375rem;
  color: #000000;
}
.icon{
  display: flex;
}
.icon-list{
  display: flex;
  padding: 0;
  margin-left: 6.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
.icon-item{
  list-style-type: none;
  padding: 1.75rem;
  border-left: 1px solid #EFEFEF;
}
.icon-item-last{
  border-right: 1px solid #EFEFEF;
}
.header{
  height: 40.625rem;
  margin-top: 4.9688rem;
}
.header-image{
  background-image: url(/img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-title{
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 3.8125rem;
  background-color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.title-top{
  width: 17.5rem;
  padding-left: .8125rem;
}
.title-center{
  width: 11.125rem;
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
  padding-left: .8125rem;
}
.title-bottom{
  width: 18.5625rem;
  padding-left: .8125rem;
}
.title-green{
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(270.00deg, rgb(142, 233, 1),rgb(79, 156, 44));
}
.circle{
  background: linear-gradient(180.00deg, rgb(142, 233, 2),rgb(79, 156, 44) 100%);
  border-radius: 50%;
  height: 3.75rem;
  width: 3.75rem;
  position: absolute;
  top: 35.625rem;
  left: 6.5625rem;
}
.header-block{
  position: absolute;
  left: 8.4375rem;
  top: 26.0625rem;
  width: 18.5625rem;
  height: 11.875rem;
  z-index: 1;
}
.mobile-header-block{
  display: none;
}
.mobile-header-title{
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.625rem;
  background-color: #fff;
  margin: 0;
}
.container{
  max-width: 69.375rem;
  margin: 0 auto;
}
.info{
  background-color: #F5F5F5;
  height: 8.125rem;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}
.info-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.info-block-items{
  list-style-type: none;
  display: flex;
  align-items: center;
}
.info-block-items:not(:last-child){
  margin-right: 4rem;
}
.info-block-text{
  width: 7.0625rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 1.1875rem;
  }
.fotocard{
  margin-bottom: 5.8125rem;
}
.fotocards{
  display: flex;
  justify-content: space-between;
}
.fotocards-item{
  width: 21.875rem;
  height: 25.625rem;
  border: 1px solid rgb(239, 239, 239);
  margin-right: 1.875rem;
}
.fotocard-title{
  text-align: center;
  margin-bottom: 1.6875rem;
  text-transform: uppercase;
}
.fotocards-img{
  margin-left: 4.6875rem;
  margin-top: 1.25rem;
  width: 12.5rem;
  height: 8.8125rem;
}
.compare-pic{
  position: relative;
  bottom: 7.8125rem;
  left: 2.0625rem;
}
.star-pic{
  display: flex;
  position: relative;
  bottom: 120px;
  left: 19.375rem;
}
.fotocards-text{
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.fotocards-infotext{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #75758A;
  padding: 0;
  margin: 0;
  text-align: center;
}
.fotocard-price-item{
  display: flex;
  list-style-type: none;
  border: 1px solid rgb(239, 239, 239);
  padding: 0;
  align-items:center;
  justify-content: center;
}
.fotocard-price-items{
  border: 1px solid rgb(239, 239, 239);
  width: 87.94px;
  height: 70px;
}
.price-text{
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 1.75rem;
  padding-top: .875rem;
  margin: 0;
}
.text-price{
  padding-left: 1.125rem;
}
.fotocards-infotext{
  color: #75758A;
  padding-left: .875rem;
  margin: 0;
}
.finfo{
  padding-left: .1875rem;
}
.card-button{
  margin-top: 1.25rem;
}
.button-white{
  width: 8.75rem;
  height: 2.5rem;
  border-radius: 6.25rem;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  margin-left: 1.5625rem;
  margin-right: 1.25rem;
}
.button-white-text{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.button-green{
  width: 8.75rem;
  height: 2.5rem;
  border-radius: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180.00deg, rgb(142, 233, 2),rgb(79, 156, 44) 100%);
}
.button-green-text{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}
.section-foto{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 6.25rem;
}
.parent {
  width: 69.375rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.875rem;
}
.parent-foto1{
  position: relative;
  margin: 0;
}
.parent-foto2 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  margin: 0;
}
.parent-foto3 {
  grid-column-start: 2;
  grid-row-start: 1;
  position: relative;
  margin: 0;
}
.parent-foto4 {
  grid-column-start: 3;
  grid-row-start: 1;
  position: relative;
  margin: 0;
}
.parent-foto5 {
  grid-column-start: 3;
  position: relative;
  margin: 0;
}
.parent-text-block{
  position: absolute;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 42px;
  left: 1.5625rem;
  top: 13.4375rem;
  margin: 0;
}
.parent-text-up{
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 12px 15px 0 15px;
  display: inline-block;
}
.parent-text-down{
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 12px 15px 0 15px;
  display: inline-block;
}
.work{
  background-color: #F5F5F5;
  height: 35.875rem;
}
.work-title{
  padding-top: 94px;
}
.work-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #75758A;
  margin-bottom: 24px;
  width: 29.375rem;
  text-align: center;
  padding: 0;
  margin-left: 20rem;
  margin-bottom: 2.3125rem;
}
.work-card{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.work-cards{
  width: 255px;
  height: 155px;
  background-color: #FFFFFF;
  padding-top: 1.5625rem;
  padding-left: 1.875rem;
  position: relative;
  margin-bottom: 2.5rem;
}
.work-cards-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2rem;
}
.work-button{
  align-items:center;
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  margin-left: 25.3125rem;
}
.work-cards-image{
  position: absolute;
  left: 12.0625rem;
}
.news{
  height: 47rem;
}
.news-card{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.news-card-item{
  height: 26.25rem;
  width: 21.875rem;
  border: 1px solid rgb(239, 239, 239);
  background: rgb(255, 255, 255);
}
.news-date{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #75758A;
  padding-left: 1.5625rem;
}
.news-image{
  width: 350px;
  height: 250px;
}
.news-title{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 1.5625rem;
}
.news-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 1.5625rem;
  color: #75758A;
  margin-bottom: 1.0625rem;
}
.text-news{
  margin-bottom: 1.125rem;
}
.subscribe{
  background-color: #515668;
  height: 4.5rem;
}
.subscribe-content{
  display: flex;
  align-items: center;
}
.subscribe-image{
  margin-right: .625rem;
}
.subscribe-text{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  margin-right: 5.4375rem;
}
.subscribe-green{
  color: #8EE901;
}
.subscribe-input{
  width: 19.6875rem;
  height: 2.5rem;
  padding-left: 1.25rem;
}
.subscribe-button{
  width: 10rem;
  height: 2.5rem;
  background-color: #4F9C2C;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-right: 5.9375rem;
}
.subscribe-title{
  margin-left: .625rem;
  color: #8EE901;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.footer{
  background-color: #F5F5F5;
  padding-top: 1.9375rem;
  padding-bottom: 2.25rem;
}
.footer-content{
  display: flex;
  align-items: baseline;
}
.footer-text{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  width: 15.9375rem;
}
.footer-text-data{
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.footer-span{
  color: #75758A;
}
.footer-text-company{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.modal{
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
  align-items:center;
  justify-content: center;
}
.modal.is-open{
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog{
  transform: translateY(0);
  opacity: 1;
}
.modal.is-open .modal-dialog{
  transform: translateY(0);
  opacity: 1;
}
.modal-dialog{
  width: 450px;
  height: 570px;
  padding-top: 2.875rem;
  position: relative;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  background-color: #fff;
}
.modal-close{
  position: absolute;
  right: -10px;
  top: -10px;
}
.modal-text{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.modal-social{
  margin-left: 10.125rem;
  margin-bottom: 30px;
}
.modal-input{
  width: 390px;
  height: 75px;
  box-sizing: border-box;
  border: 1px solid rgb(227, 227, 227);
  background: rgb(255, 255, 255);
  margin-bottom: .9375rem;
  padding-left: 1.25rem;
}
.input-group{
  margin-left: 1.875rem;
}
.modal-link{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  color:#60B021;
  margin-left: 1.875rem;
}
.modal-check{
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-left: 1.875rem;
  margin-top: 1.125rem;
  
}
.button-group{
  margin-top: 1.8125rem;
  margin-left: 7.8125rem;
  margin-bottom: 1.875rem;
}
.modal-button-green{
  width: 200px;
  height: 50px;
  border-radius: 100px;
  background: linear-gradient(180.00deg, rgb(142, 233, 2),rgb(79, 156, 44) 100%);
  margin-bottom: 1.25rem;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.modal-button-white{
  width: 200px;
  height: 50px;
  border-radius: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.reg-form{
  margin-left: 6.25rem;
  margin-right: .625rem;
}
.reg-image{
  margin-left: 0;
  margin-right: 3.125rem;
}
.reg-navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  display: flex;
  align-items:center;
  z-index: 2;
  margin-left: 8.4375rem;
  margin-right: 8.4375rem;
}
.reg-input{
  background-image:url("/img/search.png");
  background-color: #F5F5F5;
  background-repeat:no-repeat;
  background-size: 1rem;
  background-position: .5rem;
  padding-left: 1.875rem;
  color: #75758A;
  width: 11.25rem;
  border-radius: .9375rem;
  height: 2.1875rem;
  margin-right: .625rem;
}
.reg-icon-item{
  border: none;
  padding: 0;
  margin-left: 1.25rem;
}
.reg-item-list{
  display: flex;
  padding: 0;
  margin-left: 3.125rem;
  margin-top: 0;
  margin-bottom: 0;
}
.registr-form{
  margin-top: 6.0875rem;
}
.registr-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #75758A;
}
.registr-form-title{
  margin-bottom: 2.6875rem;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.registration{
  margin-bottom: 2.3125rem;
}
.input-group-wrapper{
  display: flex;
  gap:30px;
}
.input-group-reg{
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
  background: rgb(255, 255, 255);
  margin: 0;
  margin-bottom: 1.875rem;
}
.input-reg{
  width: 33.75rem;
  height: 4.6875rem;
  position: absolute;
  top:0;
  left:0;
  padding-top: 2.1875rem;
  padding-left: 1.25rem;
  border:2px solid #E4E4EB;
  background-color: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.input-reg:hover{
  border: 2px solid transparent;
  border-image: linear-gradient(180.00deg, rgb(142, 233, 2),rgb(79, 156, 44) 100%);
  border-image-slice: 1;
}
.input-group-label{
  position: absolute;
  cursor:text;
  top: 1.125rem;
  left: 1.25rem;
  color:#828A99;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.reg-info-block{
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #75758A;
  margin-left: 17.1875rem;
}
.reg-info-text-green{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  margin-left: 12.375rem;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(270.00deg, rgb(142, 233, 1),rgb(79, 156, 44));
}
.button-group-reg{
  margin-top: 1.1875rem;
  margin-left: 25.3125rem;
  margin-bottom: 1.875rem;
}
.reg-button-green{
  width: 300px;
  height: 50px;
  border-radius: 100px;
  background: linear-gradient(180.00deg, rgb(142, 233, 2),rgb(79, 156, 44) 100%);
  margin-bottom: 1.25rem;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.reg-button-white{
  width: 300px;
  height: 50px;
  border-radius: 100px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.mobile-menu{
  display: none;
}

@media(max-width: 380px){
  .navbar{
    display: none;
  }
  .mobile-menu{
    max-width: 28%;
    height: 2.8125rem;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 2;
    background-color:#fff;
  }
  .header{
  margin-top: 0;
 }
  .mobile-icon-left{
  margin-left: 1.25rem;
 }
  .mobile-icon-right{
  margin-right: 2.5rem;
  display: flex;
 }
  .mobile-icon-item:not(:last-child){
  margin-right: 1.25rem;
 }
.mobile-menu-toggle{
  width: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1.25rem;
 }
.mobile-menu-line{
  margin-bottom: 5px;
  background-color:#fff;
  border-bottom: 2px solid;
 }
 .mobile-menu-link{
  color:#000000;
 }
 .header{
  position: relative;
  width: 380px;
  height: 23.75rem;
  background-image: url(/img/mobile_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.25rem;
 }
 .container{
  width: 21.25rem;
 }
 .circle{
  position: absolute;
  height: 1.875rem;
  width: 1.875rem;
  top: 21.25rem;
  left: .3125rem;
 }
 .mobile-header-block{
  display: block;
  position: absolute;
  top: 16.9375rem;
  left: 1.25rem;
  z-index: 1;
}
.header-block{
  display: none;
}
.title-top{
  width: 12.5625rem;
  border-bottom: 2px solid #EFEFEF;
}
.title-bottom{
  width: 9rem;
}
.info{
  background-color: #fff;
  width: 380px;
  height: auto;
}
.info-block{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  margin: 0;
}
.info-block-items{
  background-color:#F5F5F5;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: .625rem;
  padding-top: 1.8125rem;
  text-align: center;
}
.info-block-items:not(:last-child){
  margin-right: .625rem;
}
.fotocard{
  width: 23.75rem;
}
.fotocards{
  display: block;
}
.fotocards-item{
  width: 20.9375rem;
}

}